body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background: #eef0f3;
  color: #222c46;
  line-height: 1.3;
}

.main {
  overflow: hidden;
  width: 100%;
}

a {
  text-decoration: none;
  color: #222c46;
}

.home-slider {
  height: 670px;
  border-radius: 0 0 40px 40px;
  padding-top: 92px;
  position: relative;
  z-index: 1;
  background: url("../images/dist/bg-slider.jpg") 50% 0 no-repeat;
  background-size: cover;
  overflow: hidden;
}

.header {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 20px;

  &__wrap {
    margin: 0 -24px;
    padding: 12px 24px;

    backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 36px;

    .row {
      height: 48px;
    }
  }

  &__logo {
    display: block;
    padding-top: 1px;
    height: 48px;
  }

  &__nav {
    gap: 40px;

    a {
      font-weight: 500;
      font-size: 14px;
      color: #fff;
      display: block;
      line-height: 20px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background: currentColor;
        top: 100%;
        left: 0;
        pointer-events: none;
        transform-origin: 100% 50%;
        transform: scale3d(0, 1, 1);
        transition: transform 0.3s;
      }

      &:hover {
        &::before {
          transform-origin: 0% 50%;
          transform: scale3d(1, 1, 1);
        }
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: -11px;
    gap: 40px;
  }

  &__phone {
    font-weight: 700;
    font-size: 15px;
    color: #fff;
  }
}


.btn {
  height: 48px;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  font-weight: 600;
  font-size: 14px;
  z-index: 1;
  border-radius: 24px;

  span {
    position: relative;
    z-index: 10;
    transition: all 0.2s ease-in-out;
  }

  &--border {
    color: #fff;
    border: 1px solid #fff;
    background: transparent;

    &::before {
      --color-btn: #fff;
    }

    &:hover {
      color: #1e75ae;
      border: 1px solid #1e75ae;
    }
  }


  &--blue {
    color: #fff;
    border: 1px solid #1e75ae;
    background: #1e75ae;

    &::before {
      --color-btn: #fff;
    }

    &:hover {
      color: #1e75ae;
      border: 1px solid #1e75ae;
    }
  }

  &::before {
    content: '';
    display: block;
    width: 110%;
    height: 0;
    padding-bottom: 110%;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 1);
    transition: all 0.2s ease-in-out;
    position: absolute;
    z-index: 1;
    background-color: var(--color-btn);
  }

  &:hover {
    &::before {
      transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
      transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1)
    }
  }

  &--h64 {
    height: 64px;
    border-radius: 32px;
  }
}

.home-slider__item {
  position: relative;
  height: 580px;

  &__desc {
    height: 514px;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    margin: 0 0 15px 0;
    font-weight: 700;
    font-size: 64px;
    color: #fff;
  }

  &__text {
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    padding-bottom: 30px;

    p {
      margin: 0;
    }
  }

  &__img {
    position: absolute;
    z-index: 1;
    right: 0;
    width: 50%;
    bottom: 0;
  }
}

.home-slider__footer {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  padding-bottom: 60px;
  right: 0;
}

.home-slider__paginate {
  display: flex;
  gap: 20px;

  .swiper-pagination-bullet {
    transition: all 0.2s ease-in-out;
    position: relative;
    margin: 0 !important;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: #fff;
    opacity: 1;
    overflow: hidden;

    &::after {
      content: '';
      width: 0;
      height: 8px;
      border-radius: 4px;
      background: #1e75ae;

      position: absolute;
      z-index: 5;
      left: 0;
      top: 0;

    }

    &.swiper-pagination-bullet-active {
      width: 36px;
    }
  }
}


#homeSlider.swiper-initialized {
  .home-slider__paginate {
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
      &::after {
        width: var(--progress);
      }
    }
  }
}

.fpad16 {
  padding-bottom: 1rem;
}

.home-prim {
  padding-top: 40px;
  padding-bottom: 84px;

  &__item {
    border-radius: 40px;
    height: 430px;
    background: #fff;
    display: flex;
    flex-direction: column;

    &__title {
      font-size: 28px;
      color: #222c46;
      font-weight: 400;
      margin: 0;
      padding: 30px 30px 30px 40px;
    }

    &__footer {
      margin-top: auto;
      padding: 0 30px 40px 40px;
      min-height: 112px;
      display: flex;
      align-items: center;

      p {
        font-size: 20px;
        color: #454340;
        margin: 0;
      }
    }

    &__footer-icons {
      margin-top: auto;
      width: 100%;
      border-top: 2px solid #eef0f3;

      li {
        height: 213px;
        width: 50%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &:first-child::after {
          content: '';
          width: 2px;
          height: 100%;
          background: #eef0f3;
          right: -1px;
          top: 0;
          display: block;
          position: absolute;
          z-index: 1;
        }
      }
    }
  }
}

.home-about {
  border-radius: 40px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("../images/dist/home2.jpg");
  padding-top: 100px;
  padding-bottom: 100px;
  @include respond(mac) {
    background-image: url("../images/dist/home2@2.jpg");
  }
  &__desc {
    padding-top: 25px;
    h2 {
      font-weight: 700;
      font-size: 24px;
      color: #fff;
      margin: 0 0 35px;
    }
    p {
      font-size: 16px;
      line-height: 1.875;
      color: #fff;
      margin-bottom: 16px;
    }
  }
  &__list {
    padding-top: 65px;
  }

  &__adv {
    flex-grow: 1;
    backdrop-filter: blur(10px);
    border-radius: 40px;
    min-height: 360px;
    padding: 30px 40px;
    &--n1 {
      background: rgba(255, 255, 255, 0.5);
    }
    &--n2 {
      background: rgba(10, 12, 17, 0.5);
    }
    &--n3 {
      background: rgba(34, 44, 70, 0.5);
    }
    &--n4 {
      background: rgba(30, 117, 174, 0.5);
    }

    &__ico {
      height: 64px;
    }
    &__title {
      margin: 0;
      padding: 0 0 35px;
      font-weight: 400;
      font-size: 20px;
      color: #fff;
    }
    &__text {
      margin: 0;
      font-size: 16px;
      color: #fff;
    }
  }
}

.caption-h2 {
  font-weight: 700;
  font-size: 24px;
  color: #222c46;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-bottom: 38px;
}

.home-products {
  padding: 94px 0 84px;
  &__item {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    height: 644px;
    border-radius: 40px;
    background-color: #fff;
    overflow: hidden;
    &__header {
      height: 250px;
      padding: 60px 30px 0;
      text-align: center;
    }
    &__caption {
      font-weight: 700;
      font-size: 40px;
      color: #222c46;
      margin: 0 0 20px;
    }
    &__text {
      font-weight: 400;
      font-size: 18px;
      text-align: center;
      color: #454340;
      min-height: 74px;
    }

    &__btn {
      display: flex;
      justify-content: center;
    }

    &__img {
      flex-grow: 1;
      display: flex;
      align-items: flex-end;
      background-image: url("data:image/svg+xml,%3Csvg width='592' height='259' viewBox='0 0 592 259' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.1' fill-rule='evenodd' clip-rule='evenodd' d='M229.246 234.176C332.668 139.6 465.84 24.7071 640.136 158.34C541.788 154.487 442.915 231.549 380.792 288.119C376.942 291.622 373.268 295.3 369.593 298.803C309.569 356.249 253.046 410.543 182.348 407.916C135.974 406.165 84.5251 379.894 26.4268 328.577C39.3762 331.029 51.9761 331.555 64.2256 330.504C124.074 325.075 177.448 281.114 229.246 234.176ZM200.196 136.097C276.494 62.5375 348.767 -6.81846 435.915 0.53727C487.014 4.91581 540.388 35.5658 597.786 93.8879C432.765 5.96685 319.893 109.475 226.271 195.294C225.219 196.346 198.973 220.163 197.922 221.04V220.865C127.224 284.091 65.4501 327.001 -12.4229 280.063C41.1257 268.854 88.8998 236.277 134.224 197.221C147.523 184.961 187.071 148.707 200.196 136.097ZM448.516 267.978C506.089 218.763 570.313 180.933 657.11 190.566C588.687 255.193 517.989 273.057 448.516 267.978ZM27.4766 192.492C47.951 183.911 71.4006 183.385 97.2998 188.113C57.576 220.339 15.9268 245.21 -29.0469 251.865C-13.4723 221.741 5.07696 201.95 27.6514 192.492H27.4766Z' fill='%23489EC5' /%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: 0 100%;
      background-size: 100% auto;
    }
  }
}
.home-video {
  padding-bottom: 100px;
}
.video-box {
  position: relative;
  border-radius: 40px;
  overflow: hidden;
  &__play {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    width: 72px;
    height: 72px;
    top: 50%;
    left: 50%;
    margin: -36px 0 0 -36px;
  }
}

.home-partners {
  padding-bottom: 100px;
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
  }
}

.fpad50 {
  padding-bottom: 50px;
}

.subscription {
  border-radius: 40px;
  min-height: 290px;
  display: flex;
  padding: 110px 105px 30px 105px;
  background-color: #222c46;
  background-size: auto 100%;
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-image: url("../images/dist/bg-subscr.svg");
  &__desc {
    min-width: 420px;
  }
  &__title {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 14px;
  }
  &__text {
    font-size: 16px;
    color: #fff;
  }
  &__form {
    flex-grow: 1;
    &__wrap {
      position: relative;
      margin-bottom: 20px;
    }
    &__inp {
      background: #fff;
      height: 72px;
      border-radius: 36px;
      border: none;
      padding: 10px 170px 10px 30px;
      font-weight: 500;
      font-size: 16px;
      color: #000;
      line-height: 40px;
      width: 100%;
      &::placeholder {
        opacity: 1;
        color: #81848b;
      }
    }

    &__submit {
      position: absolute;
      z-index: 10;
      right: 5px;
      top: 5px;
      height: 62px;
      font-weight: 400;
      font-size: 14px;
      border-radius: 31px;
      padding-left: 33px;
      padding-right: 33px;
    }

    &__footer {
      padding-left: 30px;
    }
  }
}

input:hover,
input:active,
input:focus,
button:hover,
button:active,
button:focus {
  outline: none;
  box-shadow: none;
}


.custom-checkbox {
  display: block;
  input {
    display: none;
    &:checked {
      & + .custom-checkbox__val::after {

      }
    }
  }
  &__val {
    display: block;
    position: relative;
    padding-left: 34px;
    font-weight: 400;
    font-size: 13px;
    a {
      text-decoration: underline;
    }

    &::after {
      content: '';
      border-radius: 4px;
      width: 16px;
      height: 16px;
      display: block;
      position: absolute;
      z-index: 2;
      top: 2px;
      left: 0;
      border: 1px solid currentColor;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 8px 6px;
    }
  }

  &--white {
    color: #fff;
    a {
      color: #fff;
    }

    input {
      display: none;
      &:checked {
        & + .custom-checkbox__val::after {
          background-image: url("data:image/svg+xml,%3Csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_204_250)'%3E%3Cpath d='M7.81422 0.193663C7.56672 -0.0646359 7.16484 -0.064473 6.91686 0.193663L2.8785 4.40316L1.08362 2.53236C0.835807 2.27406 0.434081 2.27406 0.186107 2.53236C-0.0617102 2.79066 -0.0617102 3.20938 0.186107 3.46784L2.42974 5.80621C2.55365 5.93536 2.716 6.00002 2.87835 6.00002C3.04069 6.00002 3.20335 5.93553 3.32711 5.80621L7.81422 1.12914C8.06204 0.871007 8.06204 0.452125 7.81422 0.193826V0.193663Z' fill='white' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_204_250'%3E%3Crect width='8' height='6' fill='white' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        }
      }
    }
  }
}

.made-in-russia {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 50;
  border-radius: 10px 0 0 10px;
  width: 72px;
  height: 169px;
  background: #1e75ae;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -85px;
}

.footer {
  background: #040a18;
  border-radius: 40px 40px 0 0;
  padding-top: 100px;
  &__phone {
    display: block;
    font-weight: 700;
    font-size: 28px;
    color: #fff;
    margin-bottom: 15px;
    text-decoration: none;
  }
  &__email {
    display: block;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
  }
  &__row {
    padding-bottom: 50px;
  }

  &__nav {
    &__caption {
      font-weight: 600;
      font-size: 16px;
      text-transform: uppercase;
      color: #fff;
    }

    &__list {
      flex-direction: column;
      li {
        padding-top: 15px;
        a {
          display: block;
          font-weight: 400;
          color: #81848b;
          transition: all 0.2s ease;
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    &__wrap {
      width: 265px;
      gap: 5px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 80px 80px;
      border-radius: 20px;
      overflow: hidden;
    }
    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(255, 255, 255, 0.2);
      height: 80px;
      &--top {
        grid-column: span 2;
      }
    }
  }

  &__bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 50px 0;

    &__link {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.71429;
      color: #81848b;
      transition: all 0.2s ease;
      &:hover {
        color: #fff;
      }
    }
  }

  &__copy {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71429;
    color: #fff;
  }

  &__web {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    &__ico {
      min-width: 25px;
    }
    &__desc {
      padding-right: 50px;
      font-size: 14px;
      color: #fff;
    }
    &__title {
      display: block;
      color: #81848b;
      transition: all 0.2s ease;
    }

    &:hover {
      .footer__web__title {
        color: #fff;
      }
    }
  }
}


.dealers {
  padding-top: 192px;
  padding-bottom: 85px;
  border-radius: 0 0 40px 40px;
  background: url("../images/dist/bg-diler.jpg") 50% 0 no-repeat;
  background-size: cover;
  &__desc {
    padding-bottom: 40px;
    h1 {
      font-weight: 700;
      font-size: 40px;
      color: #fff;
      margin: 0 0 20px;
    }
    p {
      margin: 0;
      font-weight: 500;
      font-size: 20px;
      color: #fff;
    }
  }
  &__offers {
    padding-top: 98px;
    &__title {
      padding-top: 37px;
      font-weight: 700;
      font-size: 24px;
      text-transform: uppercase;
      color: #fff;
      padding-bottom: 30px;
    }
    &__item {
      backdrop-filter: blur(10px);
      border-radius: 40px;
      display: flex;
      align-items: flex-start;
      padding: 40px 40px 25px 40px;
      gap: 27px;
      margin-bottom: 15px;
      &--n1 {
        background: rgba(10, 12, 17, 0.5);
      }
      &--n2 {
        background: rgba(34, 44, 70, 0.5);
      }
      &--n3 {
        background: rgba(30, 117, 174, 0.5);
      }
      &--n4 {
        background: rgba(255, 255, 255, 0.5);
      }

      &__ico {
        min-width: 36px;
      }

      &__desc {
        flex-grow: 1;
        h2 {
          font-weight: 400;
          font-size: 20px;
          color: #fff;
          margin: 0 0 25px;
        }
        p {
          margin: 0 0 15px;
          font-size: 16px;
          color: #fff;
        }
        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
          li {
            padding: 0 0 15px 26px;
            position: relative;
            font-size: 16px;
            color: #fff;
            &::after {
              content: '';
              display: block;
              width: 4px;
              height: 4px;
              border-radius: 2px;
              background-color: #fff;
              position: absolute;
              z-index: 1;
              top: 10px;
              left: 12px;
            }
          }
        }
      }
    }
  }
}

.dealers-partners {
  padding: 105px 0 100px;
  &__header {
    padding-bottom: 140px;
    h2 {
      font-weight: 700;
      font-size: 24px;
      text-transform: uppercase;
      color: #222c46;
      margin: 0 0 30px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    counter-reset: num;
    li {
      position: relative;
      padding-left: 105px;
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 20px;
      color: #222c46;
      min-height: 58px;
      &::before {
        content: '0'counter(num);
        counter-increment: num;
        display: inline-block;
        position: absolute;
        left: 5px;
        top: 0;
        height: 58px;
        font-weight: 700;
        font-size: 48px;
        text-transform: uppercase;
        color: #707686;
        line-height: 58px;
      }
      &:not(:last-child) {
        margin-bottom: 80px;
        &::after {
          content: '';
          display: block;
          width: 100%;
          bottom: -40px;
          height: 1px;
          background: #cbd3e7;
          position: absolute;
          left: 0;
        }
      }
    }
  }

  &__order {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    background-color: #222c46;
    border-radius: 40px;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("../images/dist/bg-form-order.svg");
    background-size: 685px 426px;
    padding: 80px 150px;
    &__header {
      text-align: center;
      padding-bottom: 40px;
      p {
        margin: 0;
        font-weight: 400;
        font-size: 16px;
        color: #fff;
      }
    }
    &__title {
      font-weight: 700;
      font-size: 24px;
      text-transform: uppercase;
      color: #fff;
      padding-bottom: 14px;
    }

    &__footer {
      padding-top: 20px;
    }
    &__submit {
      display: flex;
      justify-content: center;
      padding-top: 40px;
      .btn {
        width: 220px;
      }
    }
  }

}
.form-item {
  padding-bottom: 20px;
  &__inp {
    display: block;
    width: 100%;
    border: none;
    background: #fff;
    border-radius: 12px;
    padding: 10px 10px 10px 20px;
    height: 64px;
    font-weight: 500;
    font-size: 16px;
    color: #000;
    &::placeholder {
      color: #81848b;
      opacity: 1;
    }
  }
}
