body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background: #eef0f3;
  color: #222c46;
  line-height: 1.3;
}

.main {
  overflow: hidden;
  width: 100%;
}

a {
  text-decoration: none;
  color: #222c46;
}

.home-slider {
  height: 670px;
  border-radius: 0 0 40px 40px;
  padding-top: 92px;
  position: relative;
  z-index: 1;
  background: url("../images/dist/bg-slider.jpg") 50% 0 no-repeat;
  background-size: cover;
  overflow: hidden;
}

.header {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 20px;

  &__wrap {
    margin: 0 -24px;
    padding: 12px 24px;

    backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 36px;

    .row {
      height: 48px;
    }
  }

  &__logo {
    display: block;
    padding-top: 1px;
    height: 48px;
  }

  &__nav {
    gap: 40px;

    a {
      font-weight: 500;
      font-size: 14px;
      color: #fff;
      display: block;
      line-height: 20px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background: currentColor;
        top: 100%;
        left: 0;
        pointer-events: none;
        transform-origin: 100% 50%;
        transform: scale3d(0, 1, 1);
        transition: transform 0.3s;
      }

      &:hover {
        &::before {
          transform-origin: 0% 50%;
          transform: scale3d(1, 1, 1);
        }
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: -11px;
    gap: 40px;
  }

  &__phone {
    font-weight: 700;
    font-size: 15px;
    color: #fff;
  }
}


.btn {
  height: 48px;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  font-weight: 600;
  font-size: 14px;
  z-index: 1;
  border-radius: 24px;

  span {
    position: relative;
    z-index: 10;
    transition: all 0.2s ease-in-out;
  }

  &--border {
    color: #fff;
    border: 1px solid #fff;
    background: transparent;

    &::before {
      --color-btn: #fff;
    }

    &:hover {
      color: #1e75ae;
      border: 1px solid #1e75ae;
    }
  }

  &--border2 {
    color: #489ec5;
    border: 1px solid #489ec5;
    background: transparent;

    &::before {
      --color-btn: #489ec5;
    }

    &:hover {
      color: #fff;
      border: 1px solid #489ec5;
    }
  }


  &--blue {
    color: #fff;
    border: 1px solid #1e75ae;
    background: #1e75ae;

    &::before {
      --color-btn: #fff;
    }

    &:hover {
      color: #1e75ae;
      border: 1px solid #1e75ae;
    }
  }

  &::before {
    content: '';
    display: block;
    width: 110%;
    height: 0;
    padding-bottom: 110%;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 1);
    transition: all 0.2s ease-in-out;
    position: absolute;
    z-index: 1;
    background-color: var(--color-btn);
  }

  &:hover {
    &::before {
      transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
      transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1)
    }
  }

  &--h64 {
    height: 64px;
    border-radius: 32px;
  }
}

.home-slider__item {
  position: relative;
  height: 580px;

  &__desc {
    height: 514px;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    margin: 0 0 15px 0;
    font-weight: 700;
    font-size: 64px;
    color: #fff;
  }

  &__text {
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    padding-bottom: 30px;

    p {
      margin: 0;
    }
  }

  &__img {
    position: absolute;
    z-index: 1;
    right: 0;
    width: 50%;
    bottom: 0;
  }
}

.home-slider__footer {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  padding-bottom: 60px;
  right: 0;
}

.home-slider__paginate {
  display: flex;
  gap: 20px;

  .swiper-pagination-bullet {
    transition: all 0.2s ease-in-out;
    position: relative;
    margin: 0 !important;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: #fff;
    opacity: 1;
    overflow: hidden;

    &::after {
      content: '';
      width: 0;
      height: 8px;
      border-radius: 4px;
      background: #1e75ae;

      position: absolute;
      z-index: 5;
      left: 0;
      top: 0;

    }

    &.swiper-pagination-bullet-active {
      width: 36px;
    }
  }
}


#homeSlider.swiper-initialized {
  .home-slider__paginate {
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
      &::after {
        width: var(--progress);
      }
    }
  }
}

.fpad16 {
  padding-bottom: 1rem;
}

.home-prim {
  padding-top: 40px;
  padding-bottom: 84px;

  &__item {
    border-radius: 40px;
    height: 430px;
    background: #fff;
    display: flex;
    flex-direction: column;

    &__title {
      font-size: 28px;
      color: #222c46;
      font-weight: 400;
      margin: 0;
      padding: 30px 30px 30px 40px;
    }

    &__footer {
      margin-top: auto;
      padding: 0 30px 40px 40px;
      min-height: 112px;
      display: flex;
      align-items: center;

      p {
        font-size: 20px;
        color: #454340;
        margin: 0;
      }
    }

    &__footer-icons {
      margin-top: auto;
      width: 100%;
      border-top: 2px solid #eef0f3;

      li {
        height: 213px;
        width: 50%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &:first-child::after {
          content: '';
          width: 2px;
          height: 100%;
          background: #eef0f3;
          right: -1px;
          top: 0;
          display: block;
          position: absolute;
          z-index: 1;
        }
      }
    }
  }
}

.home-about {
  border-radius: 40px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("../images/dist/home2.jpg");
  padding-top: 100px;
  padding-bottom: 100px;
  @include respond(mac) {
    background-image: url("../images/dist/home2@2.jpg");
  }
  &__desc {
    padding-top: 25px;
    h2 {
      font-weight: 700;
      font-size: 24px;
      color: #fff;
      margin: 0 0 35px;
    }
    p {
      font-size: 16px;
      line-height: 1.875;
      color: #fff;
      margin-bottom: 16px;
    }
  }
  &__list {
    padding-top: 65px;
  }

  &__adv {
    flex-grow: 1;
    backdrop-filter: blur(10px);
    border-radius: 40px;
    min-height: 360px;
    padding: 30px 40px;
    &--n1 {
      background: rgba(255, 255, 255, 0.5);
    }
    &--n2 {
      background: rgba(10, 12, 17, 0.5);
    }
    &--n3 {
      background: rgba(34, 44, 70, 0.5);
    }
    &--n4 {
      background: rgba(30, 117, 174, 0.5);
    }

    &__ico {
      height: 64px;
    }
    &__title {
      margin: 0;
      padding: 0 0 35px;
      font-weight: 400;
      font-size: 20px;
      color: #fff;
    }
    &__text {
      margin: 0;
      font-size: 16px;
      color: #fff;
    }
  }
}

.caption-h2 {
  font-weight: 700;
  font-size: 24px;
  color: #222c46;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-bottom: 38px;
}

.home-products {
  padding: 94px 0 84px;
  &__item {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    height: 590px;
    border-radius: 40px;
    background-color: #fff;
    overflow: hidden;
    &__header {
      height: 250px;
      padding: 60px 30px 0;
      text-align: center;
    }
    &__caption {
      font-weight: 700;
      font-size: 40px;
      color: #222c46;
      margin: 0 0 20px;
      text-transform: uppercase;
    }
    &__text {
      font-weight: 400;
      font-size: 18px;
      text-align: center;
      color: #454340;
      min-height: 54px;
    }

    &__btn {
      display: flex;
      justify-content: center;
    }

    &__img {
      flex-grow: 1;
      display: flex;
      align-items: flex-end;
      background-image: url("data:image/svg+xml,%3Csvg width='390' height='283' viewBox='0 0 390 283' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.1' fill-rule='evenodd' clip-rule='evenodd' d='M116.763 177.485C195.148 105.805 296.08 18.7258 428.181 120.008C353.642 117.087 278.705 175.494 231.621 218.369C228.703 221.024 225.918 223.812 223.133 226.467C177.64 270.006 134.801 311.156 81.2178 309.165C46.0705 307.838 7.07646 287.926 -36.957 249.033C-27.1423 250.892 -17.5928 251.29 -8.30859 250.493C37.0512 246.378 77.5039 213.06 116.763 177.485ZM94.7461 103.149C152.573 47.3979 207.35 -5.16781 273.4 0.407206C312.129 3.72574 352.581 26.9554 396.084 71.1582C271.013 4.52229 185.466 82.9732 114.509 148.017C113.711 148.814 93.8191 166.865 93.0225 167.529V167.396C39.4395 215.316 -7.37952 247.837 -66.4004 212.263C-25.8154 203.767 10.3928 179.078 44.7441 149.477C54.824 140.185 84.7986 112.707 94.7461 103.149ZM282.951 203.104C326.587 165.803 375.263 137.131 441.048 144.432C389.189 193.413 335.606 206.953 282.951 203.104ZM-36.1602 145.892C-20.6423 139.387 -2.86962 138.989 16.7598 142.573C-13.3475 166.998 -44.9138 185.847 -79 190.892C-67.1958 168.06 -53.1368 153.06 -36.0273 145.892H-36.1602Z' fill='%23489EC5'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: 0 100%;
      background-size: 100% auto;
      padding: 0 20px 40px;
    }

  }
}
@media screen and (min-width: 992px) {

  .home-products__item.home-products__item--first {
    height: 430px;
    flex-direction: row;
    background-image: url("data:image/svg+xml,%3Csvg width='770' height='430' viewBox='0 0 770 430' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.1' fill-rule='evenodd' clip-rule='evenodd' d='M316.567 287.011C443.323 171.097 606.541 30.2822 820.16 194.065C699.624 189.342 578.444 283.791 502.305 353.125C497.586 357.418 493.082 361.926 488.578 366.219C415.012 436.626 345.737 503.17 259.088 499.951C202.251 497.804 139.195 465.605 67.9883 402.711C83.8596 405.716 99.302 406.36 114.315 405.072C187.667 398.417 253.082 344.539 316.567 287.011ZM280.967 166.802C374.479 76.6465 463.058 -8.35704 569.868 0.658526C632.495 6.02505 697.911 43.5893 768.26 115.07C566.008 7.31222 427.669 134.174 312.924 239.356C311.637 240.644 279.466 269.837 278.179 270.91V270.696C191.53 348.187 115.819 400.777 20.377 343.249C86.007 329.511 144.56 289.585 200.109 241.717C216.41 226.691 264.881 182.257 280.967 166.802ZM585.309 328.44C655.872 268.121 734.585 221.756 840.966 233.562C757.105 312.77 670.456 334.665 585.309 328.44ZM69.2764 235.921C94.3702 225.403 123.11 224.759 154.853 230.555C106.166 270.052 55.1206 300.533 0 308.69C19.0884 271.769 41.8228 247.513 69.4902 235.921H69.2764Z' fill='%23489EC5'/%3E%3C/svg%3E%0A");
    background-position: 100% 100%;
    background-repeat: no-repeat;

    .home-products__item__img {
      width: 50%;
      padding: 0 56px 0 0;
      background-image: none;
      justify-content: flex-end;
    }

    .home-products__item__header {
      height: auto;
      padding: 15px;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .home-products__item__text {
        padding-bottom: 30px;
      }
    }
  }
}
.home-video {
  padding-bottom: 100px;
}
.video-box {
  position: relative;
  border-radius: 40px;
  overflow: hidden;
  &__play {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    width: 72px;
    height: 72px;
    top: 50%;
    left: 50%;
    margin: -36px 0 0 -36px;
  }
}

.home-partners {
  padding-bottom: 100px;
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
  }
}

.fpad50 {
  padding-bottom: 50px;
}

.subscription {
  border-radius: 40px;
  min-height: 290px;
  display: flex;
  padding: 110px 105px 30px 105px;
  background-color: #222c46;
  background-size: auto 100%;
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-image: url("../images/dist/bg-subscr.svg");
  &__desc {
    min-width: 420px;
  }
  &__title {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 14px;
  }
  &__text {
    font-size: 16px;
    color: #fff;
  }
  &__form {
    flex-grow: 1;
    &__wrap {
      position: relative;
      margin-bottom: 20px;
    }
    &__inp {
      background: #fff;
      height: 72px;
      border-radius: 36px;
      border: none;
      padding: 10px 170px 10px 30px;
      font-weight: 500;
      font-size: 16px;
      color: #000;
      line-height: 40px;
      width: 100%;
      &::placeholder {
        opacity: 1;
        color: #81848b;
      }
    }

    &__submit {
      position: absolute;
      z-index: 10;
      right: 5px;
      top: 5px;
      height: 62px;
      font-weight: 400;
      font-size: 14px;
      border-radius: 31px;
      padding-left: 33px;
      padding-right: 33px;
    }

    &__footer {
      padding-left: 30px;
    }
  }
}

input:hover,
input:active,
input:focus,
button:hover,
button:active,
button:focus {
  outline: none;
  box-shadow: none;
}


.custom-checkbox {
  display: block;
  input {
    display: none;
    &:checked {
      & + .custom-checkbox__val::after {

      }
    }
  }
  &__val {
    display: block;
    position: relative;
    padding-left: 34px;
    font-weight: 400;
    font-size: 13px;
    a {
      text-decoration: underline;
    }

    &::after {
      content: '';
      border-radius: 4px;
      width: 16px;
      height: 16px;
      display: block;
      position: absolute;
      z-index: 2;
      top: 2px;
      left: 0;
      border: 1px solid currentColor;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 8px 6px;
    }
  }

  &--white {
    color: #fff;
    a {
      color: #fff;
    }

    input {
      display: none;
      &:checked {
        & + .custom-checkbox__val::after {
          background-image: url("data:image/svg+xml,%3Csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_204_250)'%3E%3Cpath d='M7.81422 0.193663C7.56672 -0.0646359 7.16484 -0.064473 6.91686 0.193663L2.8785 4.40316L1.08362 2.53236C0.835807 2.27406 0.434081 2.27406 0.186107 2.53236C-0.0617102 2.79066 -0.0617102 3.20938 0.186107 3.46784L2.42974 5.80621C2.55365 5.93536 2.716 6.00002 2.87835 6.00002C3.04069 6.00002 3.20335 5.93553 3.32711 5.80621L7.81422 1.12914C8.06204 0.871007 8.06204 0.452125 7.81422 0.193826V0.193663Z' fill='white' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_204_250'%3E%3Crect width='8' height='6' fill='white' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        }
      }
    }
  }
}

.made-in-russia {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 50;
  border-radius: 10px 0 0 10px;
  width: 72px;
  height: 169px;
  background: #1e75ae;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -85px;
}

.footer {
  background: #040a18;
  border-radius: 40px 40px 0 0;
  padding-top: 100px;
  &__phone {
    display: block;
    font-weight: 700;
    font-size: 28px;
    color: #fff;
    margin-bottom: 15px;
    text-decoration: none;
  }
  &__email {
    display: block;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
  }
  &__row {
    padding-bottom: 50px;
  }

  &__nav {
    &__caption {
      font-weight: 600;
      font-size: 16px;
      text-transform: uppercase;
      color: #fff;
    }

    &__list {
      flex-direction: column;
      li {
        padding-top: 15px;
        a {
          display: block;
          font-weight: 400;
          color: #81848b;
          transition: all 0.2s ease;
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    &__wrap {
      width: 265px;
      gap: 5px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 80px 80px;
      border-radius: 20px;
      overflow: hidden;
    }
    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(255, 255, 255, 0.2);
      height: 80px;
      &--top {
        grid-column: span 2;
      }
    }
  }

  &__bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 50px 0;

    &__link {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.71429;
      color: #81848b;
      transition: all 0.2s ease;
      &:hover {
        color: #fff;
      }
    }
  }

  &__copy {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71429;
    color: #fff;
  }

  &__web {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    &__ico {
      min-width: 25px;
    }
    &__desc {
      padding-right: 50px;
      font-size: 14px;
      color: #fff;
    }
    &__title {
      display: block;
      color: #81848b;
      transition: all 0.2s ease;
    }

    &:hover {
      .footer__web__title {
        color: #fff;
      }
    }
  }
}


.dealers {
  padding-top: 192px;
  padding-bottom: 85px;
  border-radius: 0 0 40px 40px;
  background: url("../images/dist/bg-diler.jpg") 50% 0 no-repeat;
  background-size: cover;
  &__desc {
    padding-bottom: 40px;
    h1 {
      font-weight: 700;
      font-size: 40px;
      color: #fff;
      margin: 0 0 20px;
    }
    p {
      margin: 0;
      font-weight: 500;
      font-size: 20px;
      color: #fff;
    }
  }
  &__offers {
    padding-top: 98px;
    &__title {
      padding-top: 37px;
      font-weight: 700;
      font-size: 24px;
      text-transform: uppercase;
      color: #fff;
      padding-bottom: 30px;
    }
    &__item {
      backdrop-filter: blur(10px);
      border-radius: 40px;
      display: flex;
      align-items: flex-start;
      padding: 40px 40px 25px 40px;
      gap: 27px;
      margin-bottom: 15px;
      &--n1 {
        background: rgba(10, 12, 17, 0.5);
      }
      &--n2 {
        background: rgba(34, 44, 70, 0.5);
      }
      &--n3 {
        background: rgba(30, 117, 174, 0.5);
      }
      &--n4 {
        background: rgba(255, 255, 255, 0.5);
      }

      &__ico {
        min-width: 36px;
      }

      &__desc {
        flex-grow: 1;
        h2 {
          font-weight: 400;
          font-size: 20px;
          color: #fff;
          margin: 0 0 25px;
        }
        p {
          margin: 0 0 15px;
          font-size: 16px;
          color: #fff;
        }
        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
          li {
            padding: 0 0 15px 26px;
            position: relative;
            font-size: 16px;
            color: #fff;
            &::after {
              content: '';
              display: block;
              width: 4px;
              height: 4px;
              border-radius: 2px;
              background-color: #fff;
              position: absolute;
              z-index: 1;
              top: 10px;
              left: 12px;
            }
          }
        }
      }
    }
  }
}

.dealers-partners {
  padding: 105px 0 100px;
  &__header {
    padding-bottom: 140px;
    h2 {
      font-weight: 700;
      font-size: 24px;
      text-transform: uppercase;
      color: #222c46;
      margin: 0 0 30px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    counter-reset: num;
    li {
      position: relative;
      padding-left: 105px;
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 20px;
      color: #222c46;
      min-height: 58px;
      &::before {
        content: '0'counter(num);
        counter-increment: num;
        display: inline-block;
        position: absolute;
        left: 5px;
        top: 0;
        height: 58px;
        font-weight: 700;
        font-size: 48px;
        text-transform: uppercase;
        color: #707686;
        line-height: 58px;
      }
      &:not(:last-child) {
        margin-bottom: 80px;
        &::after {
          content: '';
          display: block;
          width: 100%;
          bottom: -40px;
          height: 1px;
          background: #cbd3e7;
          position: absolute;
          left: 0;
        }
      }
    }
  }

  &__order {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    background-color: #222c46;
    border-radius: 40px;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("../images/dist/bg-form-order.svg");
    background-size: 685px 426px;
    padding: 80px 150px;
    &__header {
      text-align: center;
      padding-bottom: 40px;
      p {
        margin: 0;
        font-weight: 400;
        font-size: 16px;
        color: #fff;
      }
    }
    &__title {
      font-weight: 700;
      font-size: 24px;
      text-transform: uppercase;
      color: #fff;
      padding-bottom: 14px;
    }

    &__footer {
      padding-top: 20px;
    }
    &__submit {
      display: flex;
      justify-content: center;
      padding-top: 40px;
      .btn {
        width: 220px;
      }
    }
  }

}
.form-item {
  padding-bottom: 20px;
  &__inp {
    display: block;
    width: 100%;
    border: none;
    background: #fff;
    border-radius: 12px;
    padding: 10px 10px 10px 20px;
    height: 64px;
    font-weight: 500;
    font-size: 16px;
    color: #000;
    &::placeholder {
      color: #81848b;
      opacity: 1;
    }
  }
}

.footer__logo{
  display: none;
}
@media (min-width: 576px) {
  .modal {
    --bs-modal-margin: 4rem;
  }
  .modal-dialog {
    --bs-modal-width: 760px;
  }
}

.modal-dialog {
  border-radius: 40px;

  .modal-content {
    padding: 40px 90px;
    background-color: #222c46;
    border-radius: 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='613' height='316' viewBox='0 0 613 316' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.1' fill-rule='evenodd' clip-rule='evenodd' d='M248.16 224.988C347.525 134.122 475.471 23.738 642.928 152.128C548.439 148.426 453.446 222.464 393.76 276.815C390.061 280.18 386.53 283.714 382.999 287.08C325.331 342.272 271.026 394.435 203.102 391.912C158.547 390.229 109.117 364.988 53.2979 315.685C65.7394 318.041 77.8452 318.546 89.6143 317.537C147.114 312.32 198.394 270.084 248.16 224.988ZM220.25 130.757C293.554 60.0842 362.991 -6.55096 446.72 0.516191C495.814 4.72293 547.093 34.1709 602.239 90.2047C443.693 5.7334 335.25 105.18 245.301 187.632C244.289 188.644 219.078 211.522 218.064 212.368V212.2C150.14 272.945 90.7902 314.171 15.9727 269.075C67.4202 258.306 113.32 227.007 156.865 189.483C169.643 177.704 207.64 142.873 220.25 130.757ZM458.825 257.464C514.14 210.181 575.843 173.834 659.235 183.088C593.497 245.18 525.573 262.344 458.825 257.464ZM54.3057 184.94C73.9768 176.695 96.5065 176.19 121.39 180.733C83.2243 211.695 43.2092 235.589 0 241.983C14.9634 213.041 32.7851 194.027 54.4736 184.94H54.3057Z' fill='white' /%3E%3C/svg%3E");
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 613px auto;
    &__title {
      font-weight: 700;
      font-size: 24px;
      text-transform: uppercase;
      text-align: center;
      color: #fff;
      padding-bottom: 10px;
    }

    &__sub-title {
      font-weight: 400;
      font-size: 16px;
      color: #fff;
      padding-bottom: 20px;
      text-align: center;
    }

  }

  .btn-close {
    opacity: 1;
    position: absolute;
    z-index: 10;
    top: 25px;
    right: 25px;
    padding: 5px;
    background: transparent;
  }


}
.modal {
  backdrop-filter: blur(4px);
  background: rgba(10, 12, 17, 0.7);
}
.form-inp {
  padding-bottom: 20px;
  &__val {
    border: 1px solid #fff;
    border-radius: 12px;
    height: 64px;
    padding: 10px 10px 10px 20px;
    width: 100%;
    background: #fff;
    font-weight: 500;
    font-size: 16px;
    color: #000;
    &::placeholder {
      color: #81848b;
      opacity: 1;
    }
  }
}

.form-politic {
  padding: 20px 0 40px;
}

.form-checkbox {
  display: block;
  input {
    display: none;
    &:checked + .form-checkbox__text::after {
      background-image: url("data:image/svg+xml,%3Csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.81398 0.193663C7.56648 -0.0646359 7.16459 -0.064473 6.91662 0.193663L2.87826 4.40316L1.08338 2.53236C0.835563 2.27406 0.433837 2.27406 0.185863 2.53236C-0.0619543 2.79066 -0.0619543 3.20938 0.185863 3.46784L2.4295 5.80621C2.55341 5.93536 2.71576 6.00002 2.8781 6.00002C3.04045 6.00002 3.20311 5.93553 3.32686 5.80621L7.81398 1.12914C8.0618 0.871007 8.0618 0.452125 7.81398 0.193826V0.193663Z' fill='white' /%3E%3C/svg%3E");
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
  }
  &__text {
    position: relative;
    padding-left: 34px;
    font-weight: 400;
    font-size: 13px;
    color: #fff;
    line-height: 18px;
    display: block;
    user-select: none;
    a {
      color: #fff;
      text-decoration: underline;
      text-decoration-skip-ink: none;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      z-index: 10;
      left: 0;
      top: 5px;
      border: 1px solid #fff;
      border-radius: 4px;
      width: 16px;
      height: 16px;
    }
  }
}

.form-submit {
  display: flex;
  justify-content: center;
  .btn {
    width: 220px;
    height: 64px;
    border-radius: 32px;
    text-transform: uppercase;
  }
}


.main--page {
  background: #eef0f3;
  padding-top: 122px;
  .header__wrap {
    background: #fff;
  }
  .header__nav a{
    color: #222c46;
  }
  .header__phone {
    color: #222c46;
  }
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .footer {
    margin-top: auto;
  }
}

.breadcrumbs {
  padding-bottom: 55px;
  &__list {
    gap: 10px 22px;
    li {
      position: relative;
      &:not(:last-child)::after {
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        width: 4px;
        height: 4px;
        border-radius: 2px;
        background-color: #81848b;
        top: 11px;
        right: -13px;
      }
    }
    a,
    & span  {
      font-weight: 500;
      font-size: 12px;
      color: #81848b;
      text-decoration: none;
    }
  }
}

.fpad80 {
  padding-bottom: 80px;
}

.page-title {
  font-weight: 700;
  font-size: 40px;
  color: #222c46;
  margin: 0;
  padding-bottom: 30px;
}
.offcanvas.offcanvas-top {
  --bs-offcanvas-height: 100vh;
  border-bottom: none;
  .offcanvas-header {
    padding: 25px 15px 20px;
    justify-content: space-between;
    .btn-close {
      opacity: 1;
      padding: 0;
      margin: 0;
      width: 20px;
      height: 20px;
      background-image: none;
    }
  }
  .offcanvas-body {
    height: calc(100vh - 75px);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 15px 25px;
  }
}

.mob-nav {
  display: block;
  padding-bottom: 30px;
  & > li {
    border-bottom: 1px solid #CBD3E7;
    & > a {
      padding: 10px 0;
      display: flex;
      align-items: center;
      min-height: 40px;
      font-weight: 600;
      font-size: 14px;
      color: #222c46;
      line-height: 20px;
      svg {
        margin-left: auto;
        color: #707687;
        transition: all 0.2s ease-in-out;
      }
      &.mob-nav__dropdown:not(.collapsed) {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__sub-menu {
    display: block;
    a {
      display: block;
      padding: 10px 0;
      font-size: 14px;
      color: #222c46;
      line-height: 1.42857;
    }
  }
}

.mob-nav-phone {
  display: block;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #222c46;
  text-decoration: none;
  margin-bottom: 12px;
}
.mob-nav-email {
  display: block;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #222c46;
  margin-bottom: 20px;
}

.mob-nav-btn {
  display: flex;
  width: 162px;
  margin: 0 auto;
}

.mob-nav-footer {
  text-align: center;
  padding-top: 30px;
  a {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    color: #222c46;
  }
}

.contact-info {
  display: flex;
  padding: 30px 40px;
  margin-bottom: 15px;
  background: #fff;
  border-radius: 40px;
  gap: 15px;
  justify-content: space-between;
  &__item {
    &__label {
      font-weight: 400;
      font-size: 12px;
      text-transform: uppercase;
      color: #222c46;
    }
    .tel {
      font-weight: 700;
      font-size: 24px;
      color: #454340;
      line-height: 30px;
    }
    .mail {
      font-weight: 700;
      font-size: 20px;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: #454340;
      line-height: 30px;
    }
    .address {
      font-weight: 700;
      font-size: 20px;
      color: #454340;
      line-height: 30px;
    }
  }
}

#map {
  width: 100%;
  height: 460px;
  border-radius: 40px;
  overflow: hidden;
  .ymaps3--main-engine-container {
    filter: grayscale(100%);
  }
}

.my-marker {
  background-image: url("data:image/svg+xml,%3Csvg width='48' height='64' viewBox='0 0 48 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_654_1036)'%3E%3Cpath d='M24 0C10.7525 0.0175 0.0175 10.7525 0 24C0 41.23 22.36 62.81 23.31 63.72C23.6938 64.0938 24.3062 64.0938 24.69 63.72C25.64 62.81 48 41.23 48 24C47.9825 10.7525 37.2475 0.0175 24 0ZM24 35C17.925 35 13 30.075 13 24C13 17.925 17.925 13 24 13C30.075 13 35 17.925 35 24C34.9963 30.0737 30.0737 34.9963 24 35Z' fill='%231E75AE' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_654_1036'%3E%3Crect width='48' height='64' fill='white' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  width: 48px;
  height: 64px;
  cursor: pointer;
  margin-top: -64px;
}
.text {
  p {
    font-size: 16px;
    color: #454340;
    line-height: 1.3;
    margin: 0 0 15px;
  }
}

.page-404 {
  text-align: center;
  &__ico {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }
  &__footer {
    padding-top: 30px;
  }
}
.card-flipper {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  height: 430px;
  & .card-front,
  & .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: transform 0.6s ease;
    transform-style: preserve-3d;
    border-radius: 40px;
  }
  .card-front {
    transform: rotateY(180deg);
  }
  .card-back {
    transform: rotateY(0deg);
    background: #fff;

  }
}
